@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  input,textarea{
    outline: none;
  }
  input:focus,textarea:focus,input:active,textarea:active{
    outline: none;
    @apply border-green-300
  }
  ul li span {
    @apply relative top-0 left-0 ml-2;
  }
  ul li span:first-of-type:before{
    content:'';
    position: absolute;
    width:5px;
    height: 5px;
    border-radius: 100%;
    left:-10px;
    top:50%;
    transform: translateY(-50%);
    @apply bg-gray-500;
  }
  .container{
    width: 100vw !important;
    max-width: 100vw !important; 
    margin: 0px !important;
    overflow: hidden;
    @apply px-2 md:px-5 lg:px-10 xl:px-12 relative top-0 left-0 mx-auto;
  }
  .nav-header-menu a{
    position: relative;
    top:0px;
    left:0px;
  }
  .nav-header-menu a::before{
    content: '';
    position: absolute;
    top:0px;
    left:50%;
    transform: translateX(-50%);
    width: 0%;
    height: 100%;
    @apply border-b-[1px] border-b-gray-500 transition-all;
  }
  .nav-header-menu a:hover::before {
    width: 80%;
  }
  .nav-header-menu-item-inner-menu{
    animation: comesIn 0.5s ease-in-out forwards;
    transform: translate(-50%,0%);
  }
  @keyframes comesIn {
    0%{
      opacity: 0;
      transform: translate(-50%,30px);
    } 
    100%{
      opacity: 1;
      transform: translate(-50%,0px);
    }
  }
  @media (min-width:768px) {
    .nav-footer-hamburger{
      display: none;
    }
  }
  .nav-body-search-categories-menu{
    display: none;
  }
  .nav-footer-menu-item,.nav-body-menu-item-link{
    @apply relative top-0 left-0 min-w-fit;
  }
  .nav-footer-menu-item::before,.nav-body-menu-item-link::before{
    content: '';
    position: absolute;
    top:0px;
    left:50%;
    transform: translateX(-50%);
    width: 0%;
    height: 100%;
    @apply border-b-[1px] border-b-gray-500 transition-all;
  }
  .nav-footer-menu-item:hover::before{
    width: 100%;
  }
  .footer-column a{
    @apply hover:underline
  }
  .sidebar-category-header,.sidebar-filter-header,.sidebar-products-header,.details-related-title {
    @apply relative top-0 left-0 py-5 my-5;
  }
  .sidebar-category-header::before,.sidebar-filter-header::before,.sidebar-products-header::before,.details-related-title::before {
    content: '';
    position: absolute;
    bottom:0px;
    left:0px;
    height: 3px;
    width: 8%;
    @apply bg-green-500;
  }
  .product:hover{
    transform: translateY(-10px);
  }
  .product:hover .product-event{
    @apply bg-green-500;
  }
  .product-event,.cart-item-event{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all 0.5s ease-in-out;
  }
  .cart-item:hover .cart-item-event{
    @apply transition-all bg-green-300;
  }
  .home-products-inner-nav-item{
    @apply relative top-0 left-0 cursor-pointer;
  }
  .home-products-inner-nav-item::before{
    content:'';
    @apply absolute top-0 left-0 w-[30%] h-[100%] py-6 md:py-4 border-b-4 border-green-300 transition-all;
  }
  .home-products-inner-nav-item:hover::before{
    @apply w-[60%];
  }
  .about-carousel-view-cell-front{
    transform: rotateY(0deg);
  }
  .about-carousel-view-cell-back{
    backface-visibility: visible;
    transform: rotateY(180deg);
  }
  .about-teams-item:hover .about-teams-item-image{
    @apply translate-y-5;
  }
  .about-teams-item:hover .about-teams-item-details{
    @apply -translate-y-10
  }
  .blog-nav-category-menu,.blog-nav-many-menu {
    display: none;
  }
  .details-tabs-tab{
    animation: fadeIn 1s ease-in-out forwards;
  }
  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}
